<div>
    {{#with person}}

    <h1>
        {{name}}
    </h1>
    {{>line}}
    <div>
        {{age}} years
    </div>
    <div>
        {{gender}}
    </div>
    <div>

        <address>
            Address:
            {{#with address}}
            {{street}}, {{city}}, {{state}}, {{zip}}, {{country}}
            {{/with}}
        </address>
    </div>
    {{>line}}
    <div>
        {{>title data="Education" big=true}}
    </div>
    <br>
    <div>
        <ul>
            <li>
                {{#each education}}
                {{university}} (graduated in <date>{{graduationYear}})</date>,
                <div>
                    degree: {{degree}}, major - {{major}}
                </div>
                {{/each}}
            </li>
        </ul>
    </div>
    {{>line}}
    <div>
        {{>title data="Work experience" big=true}}
    </div>
    <br>
    <div>
        <ol>
            <li>
                {{#each workExperience}}
                <div>
                    <em>
                        Company:
                        <strong>
                            {{company}}
                        </strong>
                    </em>
                    (founded in <date>{{year_founded}}</date>)
                </div>
                <br>
                <div>
                    <small>
                        Industry field: {{industry}}
                    </small>
                </div>
                <br>
                <div>
                    <em>
                        <strong>
                            Position: {{title}}
                        </strong>
                    </em>
                    (from <date>{{startDate}}</date> to <date>{{endDate}}</date>)
                </div>
                <br>
                <div>
                    {{>title data="Responsibilities:" bit=false}}
                    {{>ul data=responsibilities}}
                </div>
                <br>

                <div>
                    {{>title data="Employees:" bit=false}}
                    <br>
                    {{#each employees}}
                    <ul>
                        <li>
                            {{>person_data title=position}}

                            <div>
                                Department: {{department}}
                            </div>
                            <br>
                            <div>
                                <div>
                                    <em>
                                        Projects:
                                    </em>
                                </div>
                                <br>
                                {{#each projects}}
                                <ol>
                                    <li>
                                        <div>
                                            {{name}}
                                        </div>
                                        <p>
                                            {{description}}
                                        </p>
                                        <p><i>{{status}}</i></p>
                                        <br>
                                        <div>
                                            {{>title data='Teams:' }}
                                            {{#each teams}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        {{team_name}}
                                                    </div>
                                                    <br>
                                                    <div>
                                                        {{#with team_leader}}
                                                        {{>person_data}}
                                                        {{/with}}
                                                        <br>
                                                        <div>
                                                            Team members:
                                                        </div>
                                                        <br>
                                                        {{#each team_members}}
                                                        <ol type="1">
                                                            <li>
                                                                {{>person_data}}
                                                                <br>
                                                                <div>
                                                                    <div>
                                                                        Skills:
                                                                    </div>
                                                                    {{>ul data=skills}}
                                                                </div>
                                                                <br>
                                                                <div>
                                                                    <div>
                                                                        <em>
                                                                            Projects:
                                                                        </em>
                                                                    </div>
                                                                    <br>
                                                                    {{#each projects}}
                                                                    <ul>
                                                                        <li>
                                                                            <div>
                                                                                {{name}}
                                                                            </div>
                                                                            <br>
                                                                            <q>
                                                                                {{description}}
                                                                            </q>
                                                                            <br>
                                                                            <br>
                                                                            <div>
                                                                                Technologies used:
                                                                            </div>
                                                                            {{>ul data=technologies}}
                                                                            <br>
                                                                            <div>
                                                                                <div>
                                                                                    Team members:
                                                                                </div>
                                                                                <br>
                                                                                {{#each team_members}}
                                                                                <ul>
                                                                                    <li>
                                                                                        {{>person_data}}
                                                                                    </li>
                                                                                </ul>
                                                                                {{/each}}
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    {{/each}}
                                                                </div>
                                                            </li>
                                                        </ol>
                                                        {{/each}}
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/each}}
                                        </div>
                                    </li>
                                </ol>
                                {{/each}}
                            </div>
                        </li>
                    </ul>
                    {{/each}}
                </div>
                {{/each}}
            </li>
        </ol>
    </div>
    {{/with}}
</div>