<main>
    {{>navShop}}
    <ol class="breadcrumb py-4">
        {{#each breadcrumb}}
        {{#if url}}
        <li class="breadcrumb-item"><a href={{url}}>{{name}}</a></li>
        {{else}}
        <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
        {{/if}}
        {{/each}}
    </ol>
    <h1>{{header}}</h1>
    <div class="row my-5">
        {{#each sortBlock}}
        <div class="col-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value={{value}}>{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-4 card">
            {{#with filterBlock}}
            <ul class="list-group list-group-flush">
                {{#with sellers}}
                <li class="list-group-item">
                    {{>form-check data=list}}
                </li>
                {{/with}}
                {{#with brands}}
                <li class="list-group-item">
                    {{>form-check data=options}}
                </li>
                {{/with}}
                {{#with price}}
                <li class="list-group-item">
                    <p>{{title}}</p>
                    {{#each range}}
                    <div class="mb-3">
                        <input class="form-control" placeholder={{this}}>
                    </div>
                    {{/each}}
                    <a type="button" href={{button.link}} class="btn btn-outline-secondary">{{button.text}}</a>
                </li>
                {{/with}}
                {{#each filterList}}
                <li class="list-group-item">
                    {{>form-check data=options}}
                </li>
                {{/each}}
            </ul>
            {{/with}}
        </div>
        <div class="col-8">
            <div class="row">
                {{#each goodsList}}
                <div class="col-6 px-1">
                    {{>catalogItem}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{>service }}
</main>