<main>
    <div class="card mt-5 mb-5">
        {{#with navigation}}
        <ul class="nav">
            {{#each links}}
            <li class="nav-item">
                {{#if href}}
                <a class="nav-link" href={{href}}>{{text}}</a>
                {{else}}
                <a class="nav-link disabled">{{text}}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/with}}
    </div>
    <h1 class="m-5">{{header}}</h1>
    <section class="row">
        <div class="col-8">
            {{#with contacts_data}}
            <h2>{{title}}</h2>
            <div class="my-3">
                {{#each buttons}}
                {{#if isPrimary}}
                <button class="btn btn-warning">{{text}}</button>
                {{/if}}
                {{#if isOutline}}
                <button class="btn btn-outline-warning">{{text}}</button>
                {{/if}}
                {{/each}}
            </div>
            <div class="row">
                {{#with form}}
                {{#each input}}
                <div class="col-6 mb-3">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder={{placeholder}}>
                    <div class="form-text">
                        {{caption}}
                    </div>
                </div>
                {{/each}}
                <hr>
                {{#each switch}}
                <div class="col-12">
                    {{#if isActive}}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                            checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">{{text}}</label>
                    </div>
                    {{else}}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{text}}</label>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
                {{/with}}
            </div>
            {{/with}}
            <hr class="pt-3">
            {{#with delivery}}
            <h2 class="pb-3">{{title}}</h2>
            <div class="card p-3">
                <div class="row">
                    {{#each select}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value={{value}}>{{text}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{#each delivery_type}}
            <div class="form-check pt-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    {{type}}
                </label>
            </div>
            {{/each}}
            <hr class="pt-3">
            {{#with payment}}
            <h2 class="pb-3">{{title}}</h2>
            {{#each list}}
            <div class="form-check pt-3">
                <input class="form-check-input" type="radio" name="flexRadioPayment" id="flexRadioPayment" checked>
                <label class="form-check-label" for="flexRadioPayment">
                    {{type}}
                </label>
            </div>
            {{#if description}}
            <div class="form-text">
                {{description}}
            </div>
            {{/if}}
            {{/each}}
            {{/with}}
            <hr class="pt-3">
            {{#with contact}}
            <h2 class="pb-3">{{title}}</h2>
            <div class="row">
                {{>userInfo data=surname}}
                {{>userInfo data=name}}
                {{>userInfo data=phone}}
                {{>userInfo data=email}}
            </div>
            {{/with}}
            <hr class="pt-3">
            <div class="pb-3">
                <label class="form-label">{{coment.label}}</label>
                <input class="form-control" placeholder={{coment.placeholder}}>
            </div>
            {{/with}}
            <hr class="pt-3">
            {{#with coupon}}
            <h2 class="pb-3">{{title}}</h2>
            {{#with select}}
            {{#with availabel_coupon}}
            <label class="form-label">{{label}}</label>
            <select class="form-select form-select-lg">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value={{value}}>{{text}}</option>
                {{/each}}
            </select>
            {{/with}}
            {{#with friend_coupon}}
            <div class="py-3">
                <label class="form-label">{{label}}</label>
                <select class="form-select form-select-sm">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value={{value}}>{{text}}</option>
                    {{/each}}
                </select>
                {{!-- <div class="form-text">We'll never share your email with anyone else.</div> --}}
            </div>
            {{/with}}
            {{/with}}
            {{#with add}}
            <div>
                <label class="form-label">{{friend.label}}</label>
                <input class="form-control form-control-lg" placeholder={{friend.placeholder}}>
                <div class="form-text">
                    {{friend.caption}}
                </div>
            </div>
            <div class="me-5 pt-3">
                <label class="form-label">{{colleague.label}}</label>
                <input class="form-control form-control-sm" placeholder={{colleague.placeholder}}>
                <div class="form-text">
                    {{colleague.caption}}
                </div>
            </div>
            {{/with}}
            {{/with}}
            <hr class="pt-3">
            {{#with quiz}}
            <h2 class="pb-3">{{title}}</h2>
            {{#with preference}}
            <label class="form-label">{{title}}</label>
            {{#each options}}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="preference" id="preference" checked>
                <label class="form-check-label" for="preference">
                    {{this}}
                </label>
            </div>
            {{/each}}
            {{/with}}
            <div class="pt-3">
                <label class="form-label">
                    {{your_expirience.label}}
                </label>
                <input class="form-control">
            </div>
            {{#with purchase_frequency}}
            <div class="py-3">
                <label class="form-label">{{label}}</label>
                <select class="form-select">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value={{value}}>{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}
            {{#with factors}}
            <label class="form-check-label pb-3">{{title}}</label>
            {{#each options}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="factors">
                <label class="form-check-label" for="factors">
                    {{this}}
                </label>
            </div>
            {{/each}}
            {{/with}}
            {{/with}}
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-body">
                    {{#each action_block}}
                    {{#if isSuccess}}
                    <div>
                        <button class="btn btn-success">{{text}}</button>
                    </div>
                    {{/if}}
                    {{#if isDanger}}
                    <div class="py-3">
                        <button class="btn btn-danger">{{text}}</button>
                    </div>
                    {{/if}}
                    {{#if isInfo}}
                    <div>
                        <button class="btn btn-info text-light">{{text}}</button>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {{#with total}}
                    <h2>{{title}}</h2>
                    {{#each item_list}}
                    <div>
                        {{name}}: {{price}}
                    </div>
                    {{/each}}
                    <hr>
                    {{#each additional_info}}
                    <div>
                        {{text}}: {{value}}
                    </div>
                    {{/each}}
                    <hr>
                    <div>
                        {{total_price.text}}: {{total_price.value}}
                    </div>
                    <hr>
                    {{#each button}}
                    {{#if isPrimary}}
                    <div class="pb-3">
                        <button class="btn btn-primary">{{text}}</button>
                    </div>
                    {{/if}}
                    {{#if isOutline}}
                    <div>
                        <button class="btn btn-outline-primary ">{{text}}</button>
                    </div>
                    {{/if}}
                    {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>
    </section>
    <hr>
</main>