{{#if isPrimary}}
<a type="button" href={{link}} class="btn btn-primary">{{text}}</a>
{{/if}}
{{#if isSecondary}}
<a type="button" href={{link}} class="btn btn-outline-secondary">{{text}}</a>
{{/if}}
{{#if isDanger}}
<a type="button" href={{link}} class="btn btn-outline-danger">{{text}}</a>
{{/if}}