{{#each goodsBlock}}
<form class="card my-3">
    <div class="card-body row">
        <div class="col-2">
            <img src={{image}} class="card-img-top pt-0" alt="good photo">
        </div>
        <div class="col-4">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
        </div>
        <div class="col-2 pt-5">
            {{price.title}}:
            <div>
                {{price.value}}
            </div>
        </div>
        <div class="col-2 pt-5 mt-2">
            {{amount}}
        </div>
        <div class="col-2 pt-3">
            {{#each buttons}}
            {{#if isPrimary}}
            <div class="mb-3">
                <button class="btn btn-primary">{{text}}</button>
            </div>
            {{/if}}
            {{#if isDanger}}
            <div class="mt-3">
                <button class="btn btn-outline-danger">{{text}}</button>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</form>
{{/each}}