<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
	<nav class="card mt-5 mb-5">
		{{#with navigation}}
		<ul class="nav">
			{{#each links}}
			<li class="nav-item">
				<a class="nav-link" href={{href}}>{{text}}</a>
			</li>
			{{/each}}
			<li>
				<a class="nav-link disabled">Disabled</a>
			</li>
		</ul>
		{{/with}}
	</nav>

	{{{body}}}

	<footer class="row p-4">
		{{#each footer}}
		<div class="col-2">
			{{#each this}}
			<ul class="nav flex-column">
				<li class="nav-item">
					{{#unless @last}}
					<a class="nav-link" href={{link}}>{{text}}</a>
					{{else}}
					<a class="nav-link disabled" href={{link}}>{{text}}</a>
					{{/unless}}
				</li>
			</ul>
			{{/each}}
		</div>
		{{/each}}
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>